[submodule "submodules/tex2html"]
	path = submodules/tex2html
	url = git@github.com:fengidri/tex2html
[submodule "wind/submodules/tex2html"]
	path = wind/submodules/tex2html
	url = git@github.com:fengidri/tex2html
