body{
    width:100%;
    font-size:13pt;
    letter-spacing: 1px;
}
h3
{
    font-size:20pt;
    color:black;
    counter-increment: counter_section;
    counter-reset:counter_subsection;
    margin-top:3em;
    border-bottom: solid 4px  green;
}
h3:first-of-type
{
    margin-top:0em;
}
h3:before
{
    content:counter(counter_section) '. ';
}
h4
{
    margin-top:3em;
    font-size:15pt;
    color:black;
    counter-reset:counter_subsubsection;
    counter-increment: counter_subsection;
}
h4:first-of-type{
    margin-top:0em;
}
h4:before
{
    content:counter(counter_section)'.'counter(counter_subsection) '. ';
}
h5
{
    font-size:12pt;
    counter-increment: counter_subsubsection;
    margin-top:3em;
}
h5:first-of-type{
    margin-top:0em;
}
h5:before
{
    content:counter(counter_section)'.'
    counter(counter_subsection)'.'
    counter(counter_subsubsection)'. ';
}
p{
    text-indent:2em;
    margin-top:1em;
    margin:1em;
    line-height:200%;
}
